
      <!-- navbar -->
      <nav class="navbar fixed-top navbar-expand-md " aria-label="Fourth navbar example">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><i class="fa-solid fa-house-fire fa-xl"></i></a>
            <a class="navbar-brand" id="company_logo" href="#">PP Property</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

            <div class="collapse navbar-collapse" id="navbarsExample04">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/" >Home</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Buy</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/search?keyword=house" >บ้าน</a></li>
                            <li><a class="dropdown-item" href="/search?keyword=condominium" >คอนโด</a></li>
                            <li><a class="dropdown-item" href="/search?keyword=land" >ที่ดิน</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#" onclick="document.body.scrollTop = document.documentElement.scrollTop = 0;">Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">About us</a>
                    </li>

                </ul>

                <ul class="navbar-nav ms-auto me-5 mb-2 mb-md-0">
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="/login" >Login</a>
                  </li>
              </ul>
            </div>    
        </div>
    </nav>

