<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>EPT Property</title>
</head>
<body>
    <!-- Header -->
    <%-include('header')  %>

    <main class="form-signin w-50 mx-auto mt-5 text-center">
        <form action="/login" method="POST">
            <img class="mb-4" src="/asset/logo_com.jpg" alt="" width="150" height="150">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
            <h4 style="color: red;"><%=item.loginMess%></h4>
            <div class="form-floating">
                <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com" value ="">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating mb-2">
                <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>

            <div>
                <a href="/register" style="font-size: 18px">Register</a>
            </div>

            <button class="w-100 btn btn-lg btn-primary mt-3" type="submit" name="submit">Log in</button>
            
        </form>
    </main>

    <!-- Footer -->
    <%-include('footer')  %>
</body>
</html>